body {
    margin: 0;
    padding: 0;
}

/* header */
.navbar {

    color: white;
    background-color: seagreen;
    font-size: 1.5rem;
    display: inline-block;
    width: 100%;
    height: 50px;
    text-align: center;


}

.navbar div {
    margin-top: 10px;
}

/* main body */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px;

}


/* First column */

form {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.labels {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.2em;


}

.labels label {
    margin: 20px;

}

.inputs {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -85px;

}

.inputs>* {
    margin-bottom: 20px;

}

.inputs>input {
    padding: 10px 5px;
    border-radius: 7px;
    border: 1px solid grey;
    margin-bottom: 23px;
}

#username {
    margin-top: 23px;
}


form .inputs #gender {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    position: relative;
    top: -10px;

}

form .inputs #skills {
    position: relative;
    top: -8px;
}

button {
    width: 30%;
    padding: 15px 10px;
    display: inline-block;
    margin: 10px;
    font-size: 15px;
    border-radius: 7px;
    border: 1px solid grey;
}



#submit {
    margin-left: 110px;
    background-color: rgb(58, 58, 255);
    color: white;
    opacity: 0.8;
    transition: all 0.5s;
}

#submit:hover {
    cursor: pointer;
    opacity: 1;

}


#reset {
    background-color: rgb(255, 50, 50);
    color: white;
    opacity: 0.8;
    transition: all 0.5s;

}

#reset:hover {
    cursor: pointer;
    opacity: 1;

}


.vertical {
    border-left: 3px solid seagreen;
    position: absolute;
    height: 500px;
    left: 50%;
}

/* Second column */

.col-2 {
    display: flex;
    flex-direction: column;

    align-items: center;
}

table {
    border: 1px solid olivedrab;
    border-collapse: collapse;


}

th {
    background-color: olivedrab;
    color: white;
}

tr {
    border: 1px solid olivedrab;
}

td {
    padding: 10px 30px;
}

/* second column */

.img {
    width: 180px;
    height: 150px;
}

.bold {
    font-weight: bold;
    font-size: 1.2em;
}